*.o
*.zip
libtsc.so
libtsc.dylib
raylib.so
raylib.dylib
libtsc.dll
raylib.dll
platform.so
platform.dylib
mod.so
mod.dylib
*.exe
thesandboxcell
test_thesandboxcell
*.png~
# Music used for debugging
ILLEGAL_*.*
mods/*/
platforms/*/
