*.o
*.a
*.zip
*.dll
*.so
*.exe
thesandboxcell
test_thesandboxcell
*.png~
# Music used for debugging
ILLEGAL_*.*
/data/mods/*/
/data/platforms/*/
/data/resources/*/
!/data/resources/default
/data/settings.json
build/
site/
